.auth-page {
    padding: 0 10px;
}

.auth-page__form {
    display: flex;
    flex-direction: column;

    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 0 10px;

    width: 400px;
    min-width: 300px;
}

.auth-page__label {
    font-family: Montserrat, system-ui;
    font-weight: 500;
    margin-top: 10px;
}

.auth-page__button {
    margin-top: 20px;
}

.auth-page__link {
    font-family: Montserrat, system-ui;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #6c6c6c;
}

.auth-page__link-text {
    text-decoration: none;
    color: var(--blue);
}

.auth-page__error {
    font-family: Montserrat, system-ui;
    font-weight: 400;

    margin-top: 10px;
    color: #FF0000;

    text-align: center;
}

.auth-page__password-input {
    width: 100%;
}