.shop-page {
    --shop-filter-height: 67px;
    --padding: 10px;
    --height: calc(100vh - var(--shop-filter-height) - var(--header-margin))
}

.shop-page__filter {
    border-radius: 4px;
    padding: 8px;
    background-color: #DDDDDD;
    margin-bottom: 15px;
    display: flex;
    gap: 15px;
}

.shop-page__filter-sort {
    min-width: 200px;
}

.shop-page__products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
    padding-bottom: 10px;
}

.shop-page__error-text {
    font-size: xx-large;
    font-family: Montserrat, system-ui;
    font-weight: 700;
    height: calc(var(--height) - var(--desktop-header-height));
}

@media screen and (max-width: 750px) {
    .shop-page__filter {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (width < 100px) {
    .shop-page__error-text {
        height: calc(var(--height) - var(--mobile-header-height));
    }
}