.error-page {
    flex-direction: column;
}

.error-page__body {
    display: flex;
    gap: 20px;
}

.error-page__icon {
    width: 130px;
    height: 130px;
}

.error-page__text {
    font-size: xxx-large;
    font-family: Montserrat, system-ui;
}

.error-page__button {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .error-page__body {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px) {
    .error-page__text {
        font-size: xx-large;
    }
}