.home-page {
    top: calc(var(--desktop-header-height) + var(--header-margin));
    padding: 0 10vw;
}

.home-page__text {
    font-family: Montserrat, system-ui;
    font-weight: 700;
    margin-bottom: 10px;
}

.home-page__brands-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home-page__brands-list-item {
    padding: 8px;
    border-radius: 4px;
    outline: 1px solid #DDDDDD;

    display: flex;
    align-items: center;
}

.home-page__brands-list-item:hover {
    cursor: pointer;
    outline-color: #AAAAAA;
}

.home-page__brands-list-item-image {
    max-height: 150px;
}

.home-page__products {
    margin-top: 20px;
    padding-bottom: 10px;
}

.home-page__products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.home-page__error {
    font-family: Montserrat, system-ui;
    margin-bottom: 10px;
    height: calc(100vh - var(--desktop-header-height) - var(--header-margin));
    flex-direction: column;
}

.home-page__error-button {
    margin-top: 10px;
    background-color: #000000;
}

.home-page__error-button:hover {
    background-color: rgba(0, 0, 0, 0.89);
}

@media screen and (width < 1000px) {
    .home-page {
        padding: 0 8px;
        top: calc(var(--mobile-header-height) + var(--header-margin));
    }
}

@media screen and (max-width: 800px) {
    .home-page__brands-list {
        align-items: center;
        flex-direction: column;
    }

    .home-page__brands-list-item {
        min-width: 300px;
        justify-content: center;
    }

    .home-page__brands-text {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .home-page__products-list {
        justify-content: center;
    }

    .home-page__products-text {
        text-align: center;
    }
}