.profile-page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - (var(--desktop-header-height) + var(--header-margin)));
    font-family: Montserrat, system-ui;
}

.profile-page__email {
    font-weight: 600;
    margin-top: 15px;
    font-size: large;
}

.profile-page__email-text {
    color: var(--blue);
}

.profile-page__warning {
    font-weight: 500;
    border-bottom: 1px solid #FF0000;
    color: #FF0000;
    margin-bottom: 10px;
    padding: 6px 0;
}

.profile-page__buttons {
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
    flex-wrap: wrap;
}

@media screen and (width < 1000px) {
    .profile-page {
        height: calc(100vh - (var(--mobile-header-height) + var(--header-margin)));
    }
}