.input {
    border: none;
    border-radius: 4px;

    background-color: #DDDDDD;
    font-family: Montserrat, system-ui;
    font-weight: 500;
}

.input:hover {
    background-color: var(--very-light-grey);
}

.input:focus {
    background-color: #FFFFFF;
    outline: var(--blue) 1px solid;
}

.input_sm {
    padding: 5px;
}

.input_md {
    font-size: medium;
    padding: 7px;
}

.input_lg {
    font-size: large;
    padding: 8px;
}

.input:disabled {
    background-color: #DDDDDD;
    outline: #AAAAAA 1px solid;
    cursor: not-allowed;
}