.cart-page {
    padding-bottom: 10px;
}

.cart-page__item {
    padding: 10px;
    margin-top: 20px;
    border: 2px #b6b6b6 solid;
    border-radius: 4px;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-page__item-image {
    width: 25%;
    max-height: 280px;
    min-width: 200px;
}

.cart-page__item-count {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: large;
}

.cart-page__item-count-icon {
    width: 28px;
    height: 28px;
    color: #000000;
}

.cart-page__item-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 700px) {
    .cart-page__item {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
}