.admin-page__text {
    margin: 10px 0;
}

.admin-page__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.admin-page__item {
    border: 2px solid #AAAAAA;
    padding: 8px;
    border-radius: 4px;
    font-weight: 500;
}

.admin-page__item:hover {
    cursor: pointer;
    color: var(--blue);
}

.admin-page__item_selected {
    border-color: var(--blue);
    color: var(--blue);
}

.admin-page__buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.admin-page__no-items-text {
    color: #6c6c6c;
    font-weight: 500;
}

.admin-page__modal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.admin-page__modal-section {
    height: 100%;
    flex-direction: column;
}

.admin-page__none {
    display: none;
}

.admin-page__file-input {
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    padding: 6px;
    color: var(--blue);
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

.admin-page__modal-error {
    color: #FF0000;
    margin-top: 10px;
}