.button {
    border: none;
    border-radius: 4px;

    font-family: Montserrat, system-ui;
    font-weight: 400;

    color: #FFFFFF;
    padding: 8px;
}

.button:hover {
    cursor: pointer;
}

.button_primary {
    background-color: var(--blue);
}

.button_primary:hover {
    background-color: var(--light-blue);
}

.button_default {
    background-color: #AAAAAA;
}

.button_default:hover {
    background-color: var(--light-grey);
}

.button_icon {
    background-color: var(--icon-color);
    padding: 5px;

    display: flex;
    align-items: center;
}

.button_icon:hover {
    background-color: var(--dark-icon-color);
}

.button_sm {
    font-size: medium;
}

.button_md {
    font-size: large;
}

.button_lg {
    font-size: x-large;
    font-weight: 500;
}

.button:disabled {
    background-color: #DDDDDD;
    cursor: default;
}