@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.App {
    --blue: #0088FF;
    --light-blue: #1597ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root_freeze {
    height: 100vh;
    overflow-y: hidden;
}