@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.App {
    --blue: #0088FF;
    --light-blue: #1597ff;

    --light-grey: #b4b4b4;
    --very-light-grey: #e7e7e7;
    --light-dark: #1c1c1c;

    --icon-color: #cbcbcb;
    --dark-icon-color: #b6b6b6;

    --mobile-header-height: 66px;
    --desktop-header-height: 85px;
    --header-margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root_freeze {
    height: 100vh;
    overflow-y: hidden;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.page {
    padding: 0 10vw;
    position: relative;
    top: calc(var(--desktop-header-height) + var(--header-margin));
}

.font {
    font-family: Montserrat, system-ui;
}

@media screen and (width < 1000px) {
    .page {
        padding: 0 8px;
        top: calc(var(--mobile-header-height) + var(--header-margin));
    }
}

.button_black {
    background-color: #000000 !important;
}

.button_black:hover {
    background-color: var(--light-dark) !important;
}