.product-item {
    font-family: Montserrat, system-ui;
    font-weight: 400;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border-radius: 4px;
    outline: 2px solid #DDDDDD;
    padding: 8px;
}

.product-item__image-container {
    display: flex;
    justify-content: center;
}

.product-item__image {
    width: 80%;
    max-width: 300px;
    margin-bottom: 10px;
}

.product-item__buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}